!*.*
/bin

*.classpath
*.project
.gradle/
.settings/
build/
run/*
output/*

!run/mods-ref/

*.iml
*.iws
*.ipr
*.idea/

dependencies

*.DS_Store
classes

gradle\.properties
LemADEC\.jks
LemADEC\.jks\.old
CLAUDE.md
Codex_Claude_Reasoning.sh
HowToCallCodex.md
/1.16.5-deobf-work
